* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "JetBrainsMono NFP";
  font-size: 16px;
  font-weight: bold;
  font-weight: 600;
      border-top: 2px solid #9677aa;     /* Только сверху */
    border-bottom: 2px solid #9677aa;  /* Снизу — пунктир */
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: rgba(20, 20, 32, 0.829);
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #1e1e2e;
  color: #b4befe;
  animation: ws_normal 20s ease-in-out 1;
}

#workspaces button:hover {
  color: #1e1e2e;
  background-color: #b4befe;
  animation: ws_normal ease-in-out 1;
}

#workspaces button.active {
  background-color: #2e2e46;
  color: #b4befe;
  animation: ws_normal ease-in-out 1;
}

#workspaces button.urgent {
  background-color: #1e1e2e;
  color: #f38ba8;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #1e1e2e;
}

#mpris.playing {
  color: #a6e3a1;
}

#mpris.paused {
  color: #9399b2;
}

#custom-sep {
  padding: 0px;
  color: #585b70;
}

window#waybar.empty #window {
  background-color: transparent;
}

#tray {
  color: #b4befe;
}

#network {
  color: #b4befe;
}

#cpu {
  color: #94e2d5;
}

#memory {
  color: #cba6f7;
}

#clock {
  color: #b4befe;
}

#clock.simpleclock {
  color: #b4befe;
}

#window {
  color: #cdd6f4;
}

#pulseaudio {
  color: #b4befe;
}

#pulseaudio.muted {
  color: #a6adc8;
}

#custom-logo {
  color: #89b4fa;
}

#custom-power {
  color: #f38ba8;
}

tooltip {
  background-color: #181825;
  color: #b4befe;
  border: 0px solid #b4befe;
}
